.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 50;
  }
  
  .popupBox {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
  }
  
  .message {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
  }
  
  .okButton {
    margin-top: 1rem;
    padding: 0.5rem 1.2rem;
    background : var(--gradient-1);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .okButton:hover {
    box-shadow: var(--shadow-);
    color:var(--bg-primary);
  }
  