.EditButton{
    color: var(--bg-primary);
    background-color: var(--color-primary-accent);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;

}
.EditButton:hover{
    cursor: pointer;
    background-color: var(--bg-primary);
    color: var(--color-primary-accent);
    transition: 0.2s;
    box-shadow: var(--shadow-1);
}